html {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color:gray;
    
}

#name {
    margin: 30px 0 0 0 ;
    padding: 350px;
    background-size:  cover ;
    background-position: center;
    background-image: url(https://res.cloudinary.com/s4178jm/image/upload/v1584043299/Full_stack_developer-1-1_fzsth2.jpg);
    background-repeat: no-repeat;
}



#about {
    display: flex;
    font-family: 'Lora', serif;
    margin-top: 50px;
    padding: 0 200px;
    font-size: 16px;
    text-align: center;
    color: gray;
    flex-direction: row;
    justify-content: center;
}
#p1 {
    text-align: center;
    font-family:"Lora", serif;
    font-size: 32px;
    color: gray;
    margin: 50px 0px 0px 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: gray;
}


.card {
  margin: 4% 2%;
  width: 250px;
  height: 300 px;
  align-items: center;
  position: relative;
  border: 1px solid gray;
  border-radius: 5px;
}

.cardBackground {
  background-size: cover;
  border-radius: 5px;
  height: 200px ;
  width: 200px;
}

.card-body {
  position: absolute;
  bottom: 30px;
  padding: 10px ;
   color: gray;
}

.card-title {
  font-size:20px;
}

.card-text{
  font-size: 18px;
}

a {
  background-color: gray;
  color: #FFFFFF;
  border: none;
  margin: 1% 0;
  align-self: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.live-link:hover, .github-link:hover {
  background-color: #CBD5CD;
  color: #000000;
  border: 1px solid black;
}


#skills {
    font-family: 'Lora', serif;
    margin-top: 50px;
    text-align: center;
    color: gray;
}
.skillPicture {
  width: 75%;
}
#contact {
    display: inline;
    font-family: 'Lora', serif;
    text-align: center;
    color: lightgrey;
}

input[type=text], select, textarea {
    width: 50%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .contactInfo{
    background-color: green;
  }
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  .cont {
    background-color: green;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }


footer {
    background-color:lightblue;
    color: gray;
    text-align: right;
    font-family: 'Lora', serif;
}
.projectBtn {
  color: gray;
  background-color: greenyellow;
}
.fa {
  display: flex;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background:black;
  color: white;
}
.icons {
  position: fixed;
  float: right;
  top: 90%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}